---
layout: archive
title: "Art"
permalink: /art/
author_profile: true
---

{% include base_path %}

<p>I would probably pursue art full-time if it payed the bills - at least until I missed science (I'm a flip-flopper!).
I'm saddened that I had to put artsy outlets mostly to rest in 2013 to adequately do my full-time job. 
Since I returned to do a PhD in 2018, though, I've had a little more time to revisit art. 
If I could, I would probably choose to prioritise immersive electronic installation art or film. 
What I know for sure is artistically I'm always inspired by at least one of two themes: <b>comedy and science.</b> <br></p>
	<p>- <b>What excites me about art and science:</b> the potential to embed scientifically derived knowledge into inspirational art pieces. <br>
	- <b>What excites me about comedy</b>: making people laugh through atypical art / performances. <br></p>
<p>I've written, produced, directed, or acted in several <a href="https://www.imdb.com/name/nm4531223/" target="_blank">short films</a>, some which were accepted and screened at film festivals. 
Here is one of the <a href="https://www.youtube.com/watch?v=hgK3qVfIYfY"  target="_blank">first comedic shorts</a> I did. My collaborators and I were super <i>jazzed</i> to once 
have a <a href="https://youtu.be/mVSMKmgcpjE" target="_blank">weird comedy short</a> written and directed by <a href="https://twitter.com/jandrewgormley" target="_blank">Andrew Gormley</a> be featured by the JASH 
(Sarah Silverman, Michael Cera, Tim and Eric, and Reggie Watts) 'Buh' comedy channel. I've also written and performed comedy, and had a couple of independent exhibits in the vein of new media / installation art.<br>
<p>I think it's important to note - especially for other amateur artists - that some of what I've done I consider a total and embarassing failure that I now laugh at and that's ok. 
I mostly attribute these failures to (1) tools I haven't fully developed (including patience) to adequately evaluate and refine an idea before executing and (2) a lack of time.
I'm getting better, though, and I'm very grateful to the <a href="https://www.cfat.ca" target="_blank">CFAT New Media Scholarship</a> which afforded me about 
6 months of dedicated focus and a mentor, <a href="https://stephenkelly.ca/?q=node/22" target="_blank">Stephen Kelly</a>. 
This support was instrumental in getting my first public exhibition at the <a href="https://nocturnehalifax.ca/" target="_blank">Nocturne Art at Night Festival</a> and a commissioned work for the <a href="https://iceawards.ca/" target="_blank">Atlantic Canada Ice Awards.</a></p>
<p> And, since you asked, I also strongly believe that everyone is an 'artist' (i.e. has a need to do <i>creative</i> work), it's just relatively privileged people like me that are given opportunities to explore that side of themselves.</p>
<p><b>Stay tuned for some Augmented Reality which I'm working on with my friend and long-time collaborator, <a href="http://www.huzzahdesign.ca" target="_blank">Sebastian Harder</a></b></p>
<p>Here are a few of the artsy things I've had time to get up on this site (click on the headings for more details):</p>
{% for post in site.art %}
  {% include archive-single.html %}
{% endfor %}

