---
layout: archive
title: "Art"
permalink: /art/
author_profile: true
---

{% include base_path %}

<p>Upon reflection, I would probably pursue art full-time if it payed the bills - at least until I missed science (I'm a flip-flopper!). 
I would probably continue to focus on immersive electronic installation art or on film. What I know for sure is artistically I'm always inspired by at least one of two themes: <b>comedy and science.</b> <br></p>
	<p>- <b>What excites me about art and science:</b> the potential to embed scientifically derived knowledge into inspirational art pieces. <br>
	- <b>What excites me about comedy</b>: making people laugh. <br></p>
<p>I've written, produced, directed, or acted in several <a href="https://www.imdb.com/name/nm4531223/" target="_blank">short films</a>, some which were accepted and screened at film festivals. 
Here is one of the <a href="https://www.youtube.com/watch?v=hgK3qVfIYfY"  target="_blank">first comedic shorts</a> I did. My collaborators and I were super <i>jazzed</i> to once 
have a <a href="https://youtu.be/mVSMKmgcpjE" target="_blank">weird comedy short</a> written and directed by Andrew Gormley be featured by the JASH 
(Sarah Silverman, Michael Cera, Tim and Eric, and Reggie Watts) 'Buh' comedy channel. I've also written and performed comedy, and had a couple of independent exhibits in the vein of new media / installation art.<br>
<p>I think it's important to note that some of what I've done I consider a failure, probably because I never went to art school and lack tools (including patience) to fully evaluate and reform an idea before executing.
I'm getting better, though, and I'm very grateful to the <a href="https://www.cfat.ca" target="_blank">CFAT New Media Scholarship</a> which afforded me about 6 months of dedicated focus and a mentor, <a href="https://stephenkelly.ca/?q=node/22" target="_blank">Stephen Kelly</a> that led to an exhibition and a commissioned work for the Atlantic Canada Ice Awards.<p>

<b>Stay tuned for some Augmented Reality which I'm collaborating on with <a href="http://www.huzzahdesign.ca" target="_blank">Sebastian Harder</a></b></p>

{% for post in site.art %}
  {% include archive-single.html %}
{% endfor %}

