---
layout: archive
title: "Art"
permalink: /art/
author_profile: true
---

{% include base_path %}

<p>Upon reflection, I would probably pursue art full-time if it payed the bills. 
I would probably continue to focus on immersive electronic installation art or film.<br> 
What I do artistically is inspired by at least one of two themes: comedy and science. <br>
What excites me about art and science is the potential to embed scientifically derived knowledge in art pieces. <br>
What excites me about comedy is making people laugh. <br>
I've made <a href="https://www.imdb.com/name/nm4531223/">short films</a>, written and performed comedy, and had a couple of independent exhibits in the vein of new media / installation art, and I hope to again someday! </p>

{% for post in site.art %}
  {% include archive-single.html %}
{% endfor %}

